<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/styles.css" rel='stylesheet' type="text/css" />
    </head>
        <body>
            <% include partials/nav.ejs %>
            <h1>Welcome to the most awesome website on the net</h1>
            <P>You won't find it any where in the world</P>
        </body>
    
</html>